/*----------------------- RESET CSS -----------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*----------------------- RESET CSS -----------------------*/

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('./font/BebasNeue-webfont.eot');
    src: url('./font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/BebasNeue-webfont.woff') format('woff'),
         url('./font/BebasNeue-webfont.ttf') format('truetype'),
         url('./font/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AnimalCrossing';
    src: url('./font/Animal-Crossing--Wild-World.eot');
    src: url('./font/Animal-Crossing--Wild-World.eot?#iefix') format('embedded-opentype'),
         url('./font/Animal-Crossing--Wild-World.woff') format('woff'),
         url('./font/Animal-Crossing--Wild-World.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body             {
    background-color: #ffffff;
    color: #000000;
    overflow-y: scroll; overflow-x: hidden;
    background-image: url(grass.jpg); background-repeat: repeat;
}

#loader          {
    position: absolute;
    height: 100%; width: 100%;
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(21,21,87,1) 35%, rgba(142,229,246,1) 100%);
    z-index: 1;
}

#sky             {
    max-height: 1080px;
    background-color: transparent; background-image: url(dawn.png); background-repeat: no-repeat; background-attachment: scroll; background-position: 50% 50%; background-size: cover;
}
#container       {
    display: table; height: 100vh; width: 100vw;
    text-align: center;
    background-color: transparent; background-image: url(clouds_dawn.png); background-repeat: repeat-x; background-attachment: scroll; background-position: 50% 50%; background-size: cover;
}
#clock           {
    width: 500px; min-height: 200px;
    margin: 0 auto;
    position: absolute; top: 50%; left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);
    background-color: transparent; background-image: url(clock_background.png); background-repeat: no-repeat;
    color: #000000;
}
#clock_text      {
    position: absolute; top: 50%; left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%); -webkit-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%);
    min-width: 400px;
    font-family: 'AnimalCrossing', Arial, Helvetica, sans-serif; text-align: center;
}
#date_format     {
    font-size: 2.2em;
}
span.numeral     {
    font-size: 0.7em; vertical-align: top;
}
#time            {
    font-size: 7em;
}
span#colon       {
    opacity: 0; font-size: 1.3em; line-height: 0em;
}

#controls        {
    margin-left: 28em;
    margin-top: 5.5em;
}
/*Range Reset*/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    max-height: 1.2em;
    max-width: 10em;
    -webkit-transform: rotate(270deg);
       -moz-transform: rotate(270deg);
            transform: rotate(270deg);
}
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 /***** Chrome, Safari, Opera and Edge Chromium styles *****/
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: #903000;
    border-radius: 0.225em;
    height: 0.225em; 
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -0.38em; /* Centers thumb on the track */
 
    /*custom styles*/
    background-color: #903000;
    border-radius: 0.225em;
    height: 1em;
    width: 1em;
 }
 
 /******** Firefox styles ********/
 /* slider track */
 input[type="range"]::-moz-range-track {
    background-color: #903000;
    border-radius: 0.225em;
    height: 0.225em;
 }
 
 /* slider thumb */
 input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
 
    /*custom styles*/
    background-color: #903000;
    border-radius: 0.225em;
    height: 1em;
    width: 1em;
 }
 

.easter          {
    width: 100%; padding-top: 20px; margin: 0 auto;
}
.section         {
    padding: 20px; margin: 0 auto;
    text-align: center; color: #fafafa; font-family: 'AnimalCrossing', sans-serif; font-size: 1.2em;
}
a                { color: #84ff97; text-decoration: none; }
small            { font-size: 0.8em; }
